.red{
    color: rgb(239, 240, 240);
}
.blue{
    color: #f1ebeb;
}

#Hello{
    background-color: rgb(10, 10, 19);
}
#world{
    background-color: black;
}
#world{
    background-image: -images (9) jpeg;
}